@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
    display: flex;
    flex-flow: column;
}

main {
    min-height: 100vh
}

ul {
    list-style: none;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

.main-footer {
    background-color: rgb(34, 34, 34);
    color: white;
    flex: 1;
}

.logo {
    width: 134px;
    height: 36px;
}

.nav-font {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.nav-icon {
    color: red;
}

#nav-search {
    width: 700px;
}

.footer-cont {
    padding: 0px;
    font-size: 12px;
}

.footer-cont li {
    margin-top: 16px;
}

.footer-cont a {
    color: #ffffff;
}

.c-mark {
    font-size: 12px;
}

.sub-color {
    background-color: #F5F5F5;
    min-height: 800px;
}

.exhibit {
    background-color: #EA352D;
    position: fixed;
    right: 25px;
    bottom: 30px;
    font-size: 22px;
    z-index: 3;
}

.major-category {
    color: #FFFFFF;
    font-size: 22px;
    background-color: #EA352D;
}

.sub-category {
    background-color: #FFFFFF;
}

.w-65 {
    width: 65%;
}

.pop-btn {
    background-color: #EFEFEF;
}

.pop-btn a {
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.sell-header-img {
    width: 180px;
    height: 50px;
}

.sell-back {
    background-color: #FFFFFF;
}

.form-require {
    color: #FFFFFF;
    font-size: 90%;
    background-color: #EA352D;
    padding-left: 3px;
    padding-right: 3px;
}

.supplement {
    color: #333333;
    font-size: 90%;
}

.sell-upload-drop-file {
    background-color: #F5F5F5;
    height: 150px;
    font-size: 14px;
}

.precaution p {
    font-size: 14px;
    color: #333333;
}

.sell-footer {
    font-size: 12px;
    color: #333333;
}

.sell-footer a {
    color: #333333;
}

.drop-hover:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-list {
    font-size: 14px;
}

.content-color {
    background-color: #FFFFFF;
}

.item-price {
    font-size: 50px;
    font-weight: 700;
}

.item-tax {
    font-size: 10px;
}

.item-shipping-fee {
    font-size: 16px;
}

.item-detail-table tr th {
    background-color: #FAFAFA;
    font-size: 14px;
    font-weight: normal;
    width: 20%;
}

.item-detail-table tr td {
    font-size: 14px;
    font-weight: normal;
    width: 30%;
}

.item-image {
    background-color: #FAFAFA;
}

.comment-caution {
    background-color: #FFF6DD;
}

.auth-button {
    color: #FFFFFF;
}

.err-msg {
    color: #EC413A;
    font-size: 14px;
}

.custom-file {
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}

.item {
    position: relative;
    background-color: #FFFFFF;
}

.item-box {
    position: absolute;
    bottom: 0;
}

.item-img {
    object-fit: fill;
}

.row-height {
    display: flex;
    flex-wrap: wrap;
}

.item-body a {
    color: black;
}

.detail-link {
    color: #000000;
}

.my-link {
    color: #000000;
}

.mypage-content {
    background-color: #FFFFFF;
}

.buy-content {
    min-height: 500px;
}

.buy-item {
    object-fit: fill;
}

.buy-price-cell {
    font-weight: 700;
    font-size: 28px;
}
