@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
    background-color: #ffffff
}

body {
    display: flex;
    flex-flow: column;
}

main {
    min-height: 100vh
}

ul {
    list-style: none;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

footer {
    background-color: rgb(34, 34, 34);
    color: white;
    flex: 1;
}

.logo {
    width: 134px;
    height: 36px;
}

.nav-font {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.nav-icon {
    color: red;
}

#nav-search {
    width: 420px;
}

.footer-cont {
    padding: 0px;
    font-size: 12px;
}

.footer-cont li {
    margin-top: 16px;
}

.footer-cont a {
    color: #ffffff;
}

.c-mark {
    font-size: 12px;
}
